.team-member-tile{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    margin: 20px 0;
    width: 300px;
    flex: 0 0 300px;
    background-color: white;
    color: var(--primary);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

.team-member-tile h3{
    font-size: 1.5rem;
    color: var(--primary);
}

.team-member-tile h4{
    font-size: 1rem;
    color: var(--primary);
    margin-top: -10px;
    font-weight: 500;
}

.team-member-tile p{
    font-size: 1rem;
    color: var(--primary);
    margin-top: -5px;
}

.team-member-tile img{
    /* width: 100%; */
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}


@media only screen and (max-width: 768px) {
  
  
    .team-member-tile {


      width: unset !important;
      
    }
}