.manage-newsletter-section{
    background-color: white;
    color: var(--primary);
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.manage-newsletter-section h2{
    font-size: 2rem;
    color: var(--primary);
}

.manage-newsletter-section h3 {
    font-size: 1.5rem;
    color: var(--primary);
}

.columns{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    padding: 20px;
    gap: 20px;
    margin-top: -40px;
    height: 100%;

    overflow-x: scroll;
}

.subscribers {
    background-color: white;
    color: var(--primary);
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}


.subscribers-list {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    margin-top: -40px;
    height: 400px;
    width: 100%;
    overflow-x: scroll;
}

.past-newsletters {
    background-color: white;
    color: var(--primary);
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}

.past-newsletters-list {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    margin-top: -30px;
    height: 400px;
    width: 100%;
    overflow-x: scroll;
}

.current-newsletter {
    background-color: white;
    color: var(--primary);
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}

@media only screen and (max-width: 768px) {
    .columns {
        justify-content: normal !important;
        flex-direction: column !important;
        width: 100% !important;
        align-items: center !important;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .subscribers-list {
        justify-content: normal !important;
        flex-direction: column !important;
        width: 100% !important;
        align-items: center !important;
        overflow-x: hidden;
        overflow-y: auto;
        margin-top: 0px !important;
        max-height: 400px;
        height: unset !important;
    }

    .past-newsletters-list {
        justify-content: normal !important;
        flex-direction: column !important;
        width: 100% !important;
        align-items: center !important;
        overflow-x: hidden;
        overflow-y: auto;
        margin-top: 0px !important;
        max-height: 400px;
        height: unset !important;
    }
}