.past-newsletters-section {
    background-color: var(--primary);
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 20px;
  }
  
  
  .past-newsletters-section .past-newsletters {
    display: flex;
    justify-content: normal;
    align-items: center;
    flex-direction: row;
    padding: 20px;
    gap: 20px;
    margin-top: -40px;
    height: 100%;
    width: 95%;
    overflow-x: scroll;
  }
  
  
  @media only screen and (max-width: 768px) {
  
  
    .past-newsletters {
      justify-content: normal !important;
      flex-direction: column !important;
      width: unset !important;
      align-items: center !important;
      gap: 0px !important;
    }
}