
.prayers-section {
    background-color: white;
    color: var(--primary);
    padding: 20px;
    text-align: center;
  
    position: relative;
    height: 400px;
  }
  
  @media only screen and (max-width: 768px) {
  
    .prayers-section {
      overflow: hidden !important;
      height: 450px;
    }

    .prayers-section button {
      width: 100px;
      height: 50px;
      font-size: 12px;
    }
    
  }

  .prayers-section button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }

