
.prayers-section {
    background-color: white;
    color: var(--primary);
    padding: 20px;
    text-align: center;
  
    position: relative;
    height: 400px;
  }
  
  @media only screen and (max-width: 768px) {
  
    .prayers-section {
      overflow: hidden !important;
      height: 450px !important;
    }

    .prayers-section button {
      width: 200px !important;
      height: 50px !important;
      font-size: 1rem !important;
    }
    
  }

  .prayers-section button {
    position: absolute !important;
    bottom: 10px !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
  }

