.bottom-header {
    overflow: hidden;
    background-color: var(--primary);
    position: fixed;
    bottom: 0;

    z-index: 1000;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    justify-content: space-around;
    /* Create rounded border on top-left and top-right */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* add depth */
    box-shadow: 0 0 10px rgba(0,0,0,0.4);

  }

  .header-item{
    font-size: large;
    color: white;
    font-weight: bold;
    text-align: center;

  }
  