.bottom-header {
    overflow: hidden;
    background-color: var(--primary);
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    justify-content: space-around;

  }

  .header-item{
    font-size: large;
    color: white;
    font-weight: bold;
    text-align: center;

  }
  